* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
.navbar {
    background-color: #2e7d32;
    color: #fff;
    padding: 15px 40px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar nav a {
    color: #fff;
    text-decoration: none;
    margin-left: 20px;
    font-size: 15px;
}

.navbar nav a:hover {
    text-decoration: underline;
}

.features {
    /* background-image:url(assests/images.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; */
    display: flex;
    justify-content: center;
    gap: 25px;
    padding: 60px 40px;
}

.feature-card {
    background-color: #ffffff;
    width: 280px;
    padding: 25px;
    border-radius: 6px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    text-align: center;
}

.feature-card h3 {
    margin-bottom: 10px;
    color: #2e7d32;
}

.feature-card p {
    font-size: 15px;
    color: #555;
}
.hero {
    background-color: #e8f5e9;
    text-align: center;
    padding: 80px 20px;
}
.footer {
    background-color: #2e7d32;
    color: #fff;
    text-align: center;
    padding: 15px;
    margin-top: 40px;
}
